
.music-player {
    line-height: 20px;
    padding: 20px;
}

.albums {
    display: flex;
    gap: 20px;
    padding: 0 20px;
    justify-content: space-around;
    margin-bottom: 20px;
}

.album {
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 200;
    padding: 8px;
    transition-duration: 0.5s;
}

.album:hover {
    background: coral;
    font-size: 1.6em;
}

.songs {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.song {
    display: flex;
}

.song__order {
    flex-basis: 15px;
}

.song__name {
    flex-grow: 1;
}

.song__length {
    flex-basis: 20px;
}

.song:nth-child(2n) {
    background: #eee;
}
